* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
  height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;  
}

.container{
    border:4px solid black;
    border-radius: 25px;
   padding: 50px 30px;
   text-align: center;
}

.container h1{
    margin-bottom: 15px;
    font-size: 3rem;
}

.container span{
    display:block;
    font-size: 6rem;
    color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container button{
    border: none;
    cursor:pointer;
    outline:none;
    background-color: black;
    color:white;
    border-radius: 2rem;
    padding: 15px 15px;
    margin:10px 5px;
    font-size: 1.5rem;
}